body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
  }

  
  .stat {
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    
  }
  
  form {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #333;
  }
  
  select {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  h1 {
    margin-top: 0;
    font-weight: bold;
    color: #333;
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  h2 {
    margin-top: 20px;
    font-weight: bold;
    color: #333;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  li p {
    margin-bottom: 10px;
    font-size: 16px;
    color: #666;
  }
  
  .pagination {
    margin-top: 20px;
    text-align: center;
  }
  
  .pagination a {
    margin: 0 10px;
    text-decoration: none;
    color: #337ab7;
    font-size: 16px;
    font-weight: bold;
  }
  
  .pagination a:hover {
    color: #23527c;
  }
  
  .canvas-container {
    margin-top: 20px;
    text-align: center;
  }
  
  #statisticsChart {
    width: 400px;
    height: 200px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .next {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  .next:hover {
    background-color: #3e8e41;
  }
  
  .prev {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
  }
  
  .prev:hover {
    background-color: #3e8e41;
  }